/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.site-content {
	padding: 2rem 0;
}

.homepage-content-container, .blog-content-container, .comments-area {
    padding: 0 2rem;
    @include media($tablet) {
        padding: 0 3rem;
    }
    @include media($desktop) {
        padding: 0 2rem;
    }
}

.instagram-container {
	text-align: center;
	h2 {
		text-transform: uppercase;
	}
}