.hero-banner {
    text-align: center;
    text-transform: uppercase;
    height: 15rem;
    border: 1px dotted lightgrey;
    margin-bottom: 2rem;
}

.blog-post-container {
    @include media($desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.lifestyle-feature-post, .travel-feature-post, .advice-feature-post {
    text-align: center;
    @include media($desktop) {
        width: 30%;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        p {
            margin: 0;
        }
    }
}

.feature-picture-container {
    position: relative;
    text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.8);
    img {
        display: block;
        filter: brightness(85%);
        width: 100%;
        height: 270px;
        object-fit: cover;
    }
}

.feature-category-title {
    @include absolute-center-text;
    text-transform: uppercase;
    margin: 0;
    color: white;
}

.page-template-about .jr-insta-thumb {
    @include media($desktop) {
        padding: 0 6rem;
    }
}

.jr_col_10 {
    @include media($tablet) {
        display: flex;
        justify-content: space-between;
    }
}