.site-header {
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    height: 75px;
}

.site-branding {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-logo a {
    color: black;
}

.menu-item {
    padding-right: 1.5rem;
    text-transform: uppercase;
    color: black;
    a {
        color: black;
    }
}

.menu-item-type-post_type .sub-menu {
    background: white;
    padding: 0.5rem;
    li {
        padding-bottom: 1rem;
    }
    li:last-child {
        padding: 0;
    }
}

.social-icon-nav {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.social-media-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95px;
}

.search-form {
    width: 225px;
    fieldset {
        padding: 0;
        margin: 0;
        border: none;
    }
}

.search-submit {
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    outline: none;
}